body{
    background-color: aliceblue;
}
.header-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 10px;
}

nav li a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

.early-access-now-open{
    padding: 5px;
    display: flex;
}

.button button{
    background-color: rgb(28, 174, 28);
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}


.banner-section{
    align-items: center;
    justify-content: center;
    background-image:url(../assets/hero-bg.png);
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}



.bottom-button .left-button{
    background-color: rgb(28, 174, 28);
    display: flex;

}

.bottom-button .right-button{
    background: none;
    display: flex;
}
.bottom-button{
    display: flex;
    gap: 5px
    ;
}



.card{
    width: 300px;
    padding: 10px;
    text-align:center;
    background-color:rgba(237, 229, 213, 0.9
    );
}



.notes-section{
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.notes-container{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-around;
}

.second-brain-section{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
.second-brain-section .image-section{
   
}
.second-brain-section .image-section{
    height: auto;
    border-radius: 0
    ;
}
.text-section{
    align-items:normal;
    flex-direction: column;
    background-color: white;

}
.text-section ul{}
.text-section ul li{
    display: flex;
}

.early-access-section{
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.early-access-section button{
    background-color: rgb(54, 222, 54);
    display: flex;
    margin: 20px;
    padding: 20px
    px 20px;
    font-size: 1.2em;

}

.footer-section{
    padding: 20px;
    background-color: rgb(25, 3, 47);
    color: white;
    display: flex;
    justify-content: space-between;
}

